.block {
  margin: 5px;
  background: #ffffff;
  color: #000000;
  padding: 5px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #000000;
  display: inline-block;

  .name {
    margin-bottom: 5px;
  }

  .price {
    text-align: center;
  }
}
